In [2]:
import pandas as pd
import numpy as np

# Import File
Import the output of the previous steps.

In [3]:
df = pd.read_csv('./Used_cars.csv')

In [4]:
df.head(3)

,Unnamed: 0,Brand,Car_type,Brandname_and_model,Model_type,Price,Price2,Seller_type,Selling_type,Listing_country,...,Power,Transmission,Fuel_type,Fuel_type2,Fuel_consumption,Fuel_emissions,First_registration,First_registration2,specific_model,Power_CH
0,0,volkswagen,polo,Volkswagen Polo,1.6 CR TDi Comfortline BMT DPF,3750,"€ 3 750,-",p,Occasion,b,...,66 kW (90 CH),Boîte manuelle,d,Diesel,"3,7 l/100 km (mixte)",96 g/km (mixte),03-2010,03/2010,1.6,90
1,1,volkswagen,polo,Volkswagen Polo,1.4 CR TDi Trendline BMT,9900,"€ 9 900,-",p,Occasion,b,...,55 kW (75 CH),Boîte manuelle,d,Diesel,"3,8 l/100 km",93 g/km (mixte),09-2016,09/2016,1.4,75
2,2,volkswagen,polo,Volkswagen Polo,1.4 CR TDi BlueMotion,11499,"€ 11 499,-",p,Occasion,b,...,55 kW (75 CH),Boîte manuelle,d,Diesel,"3,1 l/100 km (mixte)",82 g/km (mixte),11-2015,11/2015,1.4,75

In [5]:
df.columns

Index(['Unnamed: 0', 'Brand', 'Car_type', 'Brandname_and_model', 'Model_type',
       'Price', 'Price2', 'Seller_type', 'Selling_type', 'Listing_country',
       'Listing_zip_code', 'Nb_previous_owners', 'Mileage', 'Mileage2',
       'Power', 'Transmission', 'Fuel_type', 'Fuel_type2', 'Fuel_consumption',
       'Fuel_emissions', 'First_registration', 'First_registration2',
       'specific_model', 'Power_CH'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           29 non-null     int64
 1   Brand                29 non-null     object
 2   Car_type             29 non-null     object
 3   Brandname_and_model  29 non-null     object
 4   Model_type           28 non-null     object
 5   Price                29 non-null     int64
 6   Price2               29 non-null     object
 7   Seller_type          29 non-null     object
 8   Selling_type         29 non-null     object
 9   Listing_country      29 non-null     object
 10  Listing_zip_code     29 non-null     int64
 11  Nb_previous_owners   29 non-null     object
 12  Mileage              29 non-null     int64
 13  Mileage2             29 non-null     object
 14  Power                29 non-null     object
 15  Transmission         29 non-null     object
 16  Fuel_type            29 non-null     object
 17  Fuel_type2           29 non-null     object
 18  Fuel_consumption     28 non-null     object
 19  Fuel_emissions       29 non-null     object
 20  First_registration   29 non-null     object
 21  First_registration2  29 non-null     object
 22  specific_model       27 non-null     float64
 23  Power_CH             29 non-null     int64
dtypes: float64(1), int64(5), object(18)
memory usage: 5.6+ KB

In [7]:
# List of standard dtypes: https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html#basics-dtypes
# 'category' or np.CategoricalDtype, 
# 'int64' or np.int, 
# float64, 
# 'string' or np.str, 
# 'boolean' or np.bool

df = df.astype({
    'Brand': 'string',
    'Car_type': 'string',
    'Brandname_and_model': 'string', 
    'Model_type': 'string',
    'Price': 'int64', 
    'Price2': 'string', 
    'Seller_type': 'category', 
    'Selling_type': 'category', 
    'Listing_country': 'category',
    'Listing_zip_code': 'int64', 
    'Nb_previous_owners': 'string', 
    'Mileage': 'int64', 
    'Mileage2': 'string',
    'Power': 'category', 
    'Transmission': 'category', 
    'Fuel_type': 'category', 
    'Fuel_type2': 'category', 
    'Fuel_consumption': 'string',
    'Fuel_emissions': 'string', 
    'First_registration': 'string', 
    'First_registration2': 'string',
    'specific_model': 'int64', 
    'Power_CH': 'int64'
}, errors='ignore')

In [35]:
# Display rows that contain a NA
# df.loc[df.isna().any(axis=1)]

# .cat.categories to get a list of categories/levels

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           29 non-null     int64
 1   Brand                29 non-null     string
 2   Car_type             29 non-null     string
 3   Brandname_and_model  29 non-null     string
 4   Model_type           28 non-null     string
 5   Price                29 non-null     int64
 6   Price2               29 non-null     string
 7   Seller_type          29 non-null     category
 8   Selling_type         29 non-null     category
 9   Listing_country      29 non-null     category
 10  Listing_zip_code     29 non-null     int64
 11  Nb_previous_owners   29 non-null     string
 12  Mileage              29 non-null     int64
 13  Mileage2             29 non-null     string
 14  Power                29 non-null     category
 15  Transmission         29 non-null     category
 16  Fuel_type            29 non-null     category
 17  Fuel_type2           29 non-null     category
 18  Fuel_consumption     28 non-null     string
 19  Fuel_emissions       29 non-null     string
 20  First_registration   29 non-null     string
 21  First_registration2  29 non-null     string
 22  specific_model       27 non-null     float64
 23  Power_CH             29 non-null     int64
dtypes: category(7), float64(1), int64(5), string(11)
memory usage: 5.0 KB

In [12]:
# rounding the specific model to the first decimal
df['specific_model'] = round(df['specific_model'], 1)

# Streamlit

In [38]:
import streamlit as st

Very nice UI solution to filter and interact directly with a dataframe.

In [ ]:
# Documentation: https://blog.streamlit.io/auto-generate-a-dataframe-filtering-ui-in-streamlit-with-filter_dataframe/

from pandas.api.types import (
    is_categorical_dtype,
    is_datetime64_any_dtype,
    is_numeric_dtype,
    is_object_dtype,
)
import pandas as pd
import streamlit as st


def filter_dataframe(df: pd.DataFrame) -> pd.DataFrame:
    """
    Adds a UI on top of a dataframe to let viewers filter columns

    Args:
        df (pd.DataFrame): Original dataframe

    Returns:
        pd.DataFrame: Filtered dataframe
    """
    modify = st.checkbox("Add filters")

    if not modify:
        return df

    df = df.copy()

    # Try to convert datetimes into a standard format (datetime, no timezone)
    for col in df.columns:
        if is_object_dtype(df[col]):
            try:
                df[col] = pd.to_datetime(df[col])
            except Exception:
                pass

        if is_datetime64_any_dtype(df[col]):
            df[col] = df[col].dt.tz_localize(None)

    modification_container = st.container()

    with modification_container:
        to_filter_columns = st.multiselect("Filter dataframe on", df.columns)
        for column in to_filter_columns:
            left, right = st.columns((1, 20))
            # Treat columns with < 10 unique values as categorical
            if is_categorical_dtype(df[column]) or df[column].nunique() < 10:
                user_cat_input = right.multiselect(
                    f"Values for {column}",
                    df[column].unique(),
                    default=list(df[column].unique()),
                )
                df = df[df[column].isin(user_cat_input)]
            elif is_numeric_dtype(df[column]):
                _min = float(df[column].min())
                _max = float(df[column].max())
                step = (_max - _min) / 100
                user_num_input = right.slider(
                    f"Values for {column}",
                    min_value=_min,
                    max_value=_max,
                    value=(_min, _max),
                    step=step,
                )
                df = df[df[column].between(*user_num_input)]
            elif is_datetime64_any_dtype(df[column]):
                user_date_input = right.date_input(
                    f"Values for {column}",
                    value=(
                        df[column].min(),
                        df[column].max(),
                    ),
                )
                if len(user_date_input) == 2:
                    user_date_input = tuple(map(pd.to_datetime, user_date_input))
                    start_date, end_date = user_date_input
                    df = df.loc[df[column].between(start_date, end_date)]
            else:
                user_text_input = right.text_input(
                    f"Substring or regex in {column}",
                )
                if user_text_input:
                    df = df[df[column].astype(str).str.contains(user_text_input)]

    return df

In [ ]:

st.markdown(" ## DataFrame")
# start with df
cols = select_columns(df)
data = filter_dataframe(df[cols])           # this is the dataframe that is going to be displayed

# we add some pandas styling to the columns (e.g. 1.4000 becomes 1.4)
styled_data = data.style.format({
    'specific_model':'{:.1f}',       #displays only one decimal
    'Price': '{:,.0f}',                 # displays 10000 into 10,000
    'Mileage':'{:,.0f}'
    })                        
st.dataframe(styled_data, width = 1500, height=1000)

Can also use the AgGrid for interactive DF.

In [ ]:
from st_aggrid import GridOptionsBuilder, AgGrid, GridUpdateMode, DataReturnMode
AgGrid(data=df)